{
    "branches": ["master", "next"],
    "repositoryUrl": "https://github.com/Linux123123/JSPteroAPI.git",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@amanda-mitchell/semantic-release-npm-multiple",
            {
                "registries": {
                    "github": {},
                    "npm": {}
                }
            }
        ]
    ]
}
